body {color:#000; font-family:times; margin: 4px; }
h1 {color: #ff0000; margin-top: 40px; margin-bottom: 25px; }
h2 {color: green; margin-top: 35px; margin-bottom: 20px; }
h3 {color: blue; margin-top: 30px; margin-bottom: 20px; }
p{margin-top: 10px; margin-bottom: 15px; }
